<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package id="H.Pipes" version="2.0.47" targetFramework="netstandard2.0" allowedVersions="[2.0.47]" />
  <package id="H.Formatters.BinaryFormatter" version="2.0.47" targetFramework="netstandard2.0" allowedVersions="[2.0.47, )" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="netstandard2.0" allowedVersions="[7.0.0, )" />
  <package id="H.Formatters" version="2.0.47" targetFramework="netstandard2.0" allowedVersions="[2.0.47, )" />
</packages>